################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PodejmowanieDecyzji/.vs/PodejmowanieDecyzji
/PodejmowanieDecyzji/x64/Debug
/PodejmowanieDecyzji/StrukturaProgramu/x64/Debug
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj.filters
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj.user
/PodejmowanieDecyzji/Zmienna/x64/Debug
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj.filters
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj.user
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj.filters
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj.user
/PodejmowanieDecyzji/TypyDanych/x64/Debug
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj.filters
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj.user
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/x64/Debug
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj.filters
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj.user
/PodejmowanieDecyzji/Operatory/x64/Debug
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj.filters
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj.user
