################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PodejmowanieDecyzji/.vs/PodejmowanieDecyzji
/PodejmowanieDecyzji/x64/Debug
/PodejmowanieDecyzji/StrukturaProgramu/x64/Debug
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj.filters
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj.user
/PodejmowanieDecyzji/Zmienna/x64/Debug
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj.filters
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj.user
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj.filters
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj.user
/PodejmowanieDecyzji/TypyDanych/x64/Debug
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj.filters
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj.user
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/x64/Debug
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj.filters
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj.user
/PodejmowanieDecyzji/Operatory/x64/Debug
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj.filters
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj.user
/PodejmowanieDecyzji/KalkulatorBMI/KalkulatorBMI.vcxproj
/PodejmowanieDecyzji/KalkulatorBMI/KalkulatorBMI.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorBMI/KalkulatorBMI.vcxproj.user
/PodejmowanieDecyzji/KalkulatorBMI/x64/Debug
/PodejmowanieDecyzji/KalkulatorOcen/KalkulatorOcen.vcxproj
/PodejmowanieDecyzji/KalkulatorOcen/KalkulatorOcen.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorOcen/KalkulatorOcen.vcxproj.user
/PodejmowanieDecyzji/KalkulatorOcen/x64/Debug
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/SprawdzanieParzystoscPodzielnosc3.vcxproj
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/SprawdzanieParzystoscPodzielnosc3.vcxproj.filters
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/SprawdzanieParzystoscPodzielnosc3.vcxproj.user
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/x64/Debug
/PodejmowanieDecyzji/Kalkulator/Kalkulator.vcxproj
/PodejmowanieDecyzji/Kalkulator/Kalkulator.vcxproj.filters
/PodejmowanieDecyzji/Kalkulator/Kalkulator.vcxproj.user
/PodejmowanieDecyzji/Kalkulator/x64/Debug
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/KalkulatorOplatZaParkowanie.vcxproj
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/KalkulatorOplatZaParkowanie.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/KalkulatorOplatZaParkowanie.vcxproj.user
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/x64/Debug
/PodejmowanieDecyzji/KalkulatorTemperatur/KalkulatorTemperatur.vcxproj
/PodejmowanieDecyzji/KalkulatorTemperatur/KalkulatorTemperatur.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorTemperatur/KalkulatorTemperatur.vcxproj.user
/PodejmowanieDecyzji/KalkulatorTemperatur/x64/Debug
/Petle/.vs/Petle
/Petle/Kwadrat/x64/Debug
/Petle/Kwadrat/Kwadrat.vcxproj
/Petle/Kwadrat/Kwadrat.vcxproj.filters
/Petle/Kwadrat/Kwadrat.vcxproj.user
/Petle/LiczbyBezPowtorzen/LiczbyBezPowtorzen.vcxproj
/Petle/LiczbyBezPowtorzen/LiczbyBezPowtorzen.vcxproj.filters
/Petle/LiczbyBezPowtorzen/LiczbyBezPowtorzen.vcxproj.user
/Petle/LiczbyBezPowtorzen/x64/Debug
/Petle/LiczbyNieparzyste/LiczbyNieparzyste.vcxproj
/Petle/LiczbyNieparzyste/LiczbyNieparzyste.vcxproj.filters
/Petle/LiczbyNieparzyste/LiczbyNieparzyste.vcxproj.user
/Petle/LiczbyNieparzyste/x64/Debug
/Petle/x64/Debug
/Petle/LiczbyNieparzysteMacierz/LiczbyNieparzysteMacierz.vcxproj
/Petle/LiczbyNieparzysteMacierz/LiczbyNieparzysteMacierz.vcxproj.filters
/Petle/LiczbyNieparzysteMacierz/LiczbyNieparzysteMacierz.vcxproj.user
/Petle/LiczbyNieparzysteMacierz/x64/Debug
/Petle/LiczbyParzyste/LiczbyParzyste.vcxproj
/Petle/LiczbyParzyste/LiczbyParzyste.vcxproj.filters
/Petle/LiczbyParzyste/LiczbyParzyste.vcxproj.user
/Petle/LiczbyParzyste/x64/Debug
/Petle/LiczenieLiczbParzystych/LiczenieLiczbParzystych.vcxproj
/Petle/LiczenieLiczbParzystych/LiczenieLiczbParzystych.vcxproj.filters
/Petle/LiczenieLiczbParzystych/LiczenieLiczbParzystych.vcxproj.user
/Petle/LiczenieLiczbParzystych/x64/Debug
/Petle/OdwroconyTrojkat/OdwroconyTrojkat.vcxproj
/Petle/OdwroconyTrojkat/OdwroconyTrojkat.vcxproj.filters
/Petle/OdwroconyTrojkat/OdwroconyTrojkat.vcxproj.user
/Petle/OdwroconyTrojkat/x64/Debug
/Petle/RysowanieDywanu/RysowanieDywanu.vcxproj
/Petle/RysowanieDywanu/RysowanieDywanu.vcxproj.filters
/Petle/RysowanieDywanu/RysowanieDywanu.vcxproj.user
/Petle/RysowanieDywanu/x64/Debug
/Petle/RysowanieRamki/RysowanieRamki.vcxproj
/Petle/RysowanieRamki/RysowanieRamki.vcxproj.filters
/Petle/RysowanieRamki/RysowanieRamki.vcxproj.user
/Petle/RysowanieRamki/x64/Debug
/Petle/SumaLiczbFor/SumaLiczbFor.vcxproj
/Petle/SumaLiczbFor/SumaLiczbFor.vcxproj.filters
/Petle/SumaLiczbFor/SumaLiczbFor.vcxproj.user
/Petle/SumaLiczbFor/x64/Debug
/Petle/SumaLiczbNaturalnych/SumaLiczbNaturalnych.vcxproj
/Petle/SumaLiczbNaturalnych/SumaLiczbNaturalnych.vcxproj.filters
/Petle/SumaLiczbNaturalnych/SumaLiczbNaturalnych.vcxproj.user
/Petle/SumaLiczbNaturalnych/x64/Debug
/Petle/TabliczkaMnozenia/TabliczkaMnozenia.vcxproj
/Petle/TabliczkaMnozenia/TabliczkaMnozenia.vcxproj.filters
/Petle/TabliczkaMnozenia/TabliczkaMnozenia.vcxproj.user
/Petle/TabliczkaMnozenia/x64/Debug
/Petle/WprowadzanieWyświetlanieLiczb/WprowadzanieWyświetlanieLiczb.vcxproj
/Petle/WprowadzanieWyświetlanieLiczb/WprowadzanieWyświetlanieLiczb.vcxproj.filters
/Petle/WprowadzanieWyświetlanieLiczb/WprowadzanieWyświetlanieLiczb.vcxproj.user
/Petle/WprowadzanieWyświetlanieLiczb/x64/Debug
/Tablice/.vs/Tablice
/Tablice/ObliczanieSredniejWartosci/Obliczan.d1fd8e67/x64/Debug
/Tablice/ObliczanieSredniejWartosci/ObliczanieSredniejWartosci.vcxproj
/Tablice/ObliczanieSredniejWartosci/ObliczanieSredniejWartosci.vcxproj.filters
/Tablice/ObliczanieSredniejWartosci/ObliczanieSredniejWartosci.vcxproj.user
/Tablice/ObliczanieSredniejWartosci/x64/Debug
/Tablice/ObliczanieSredniejWartosci2d/ObliczanieSredniejWartosci2d.vcxproj
/Tablice/ObliczanieSredniejWartosci2d/ObliczanieSredniejWartosci2d.vcxproj.filters
/Tablice/ObliczanieSredniejWartosci2d/ObliczanieSredniejWartosci2d.vcxproj.user
/Tablice/ObliczanieSredniejWartosci2d/x64/Debug
/Tablice/SumaLiczbParzystych/SumaLiczbParzystych.vcxproj
/Tablice/SumaLiczbParzystych/SumaLiczbParzystych.vcxproj.filters
/Tablice/SumaLiczbParzystych/SumaLiczbParzystych.vcxproj.user
/Tablice/SumaLiczbParzystych/x64/Debug
/Tablice/SumowanieElementow2d/SumowanieElementow2d.vcxproj
/Tablice/SumowanieElementow2d/SumowanieElementow2d.vcxproj.filters
/Tablice/SumowanieElementow2d/SumowanieElementow2d.vcxproj.user
/Tablice/TranspozycjaMacierzy2d/TranspozycjaMacierzy2d.vcxproj
/Tablice/TranspozycjaMacierzy2d/TranspozycjaMacierzy2d.vcxproj.filters
/Tablice/TranspozycjaMacierzy2d/TranspozycjaMacierzy2d.vcxproj.user
/Tablice/TranspozycjaMacierzy2d/x64/Debug
/Tablice/ZamianaUjemnychNaZera/x64/Debug
/Tablice/ZamianaUjemnychNaZera/ZamianaU.02756f22/x64/Debug
/Tablice/ZamianaUjemnychNaZera/ZamianaUjemnychNaZera.vcxproj
/Tablice/ZamianaUjemnychNaZera/ZamianaUjemnychNaZera.vcxproj.filters
/Tablice/ZamianaUjemnychNaZera/ZamianaUjemnychNaZera.vcxproj.user
/Tablice/ZnajdowanieNajmniejszejLiczby/x64/Debug
/Tablice/ZnajdowanieNajmniejszejLiczby/Znajdowa.33aaae8b/x64/Debug
/Tablice/ZnajdowanieNajmniejszejLiczby/ZnajdowanieNajmniejszejLiczby.vcxproj
/Tablice/ZnajdowanieNajmniejszejLiczby/ZnajdowanieNajmniejszejLiczby.vcxproj.filters
/Tablice/ZnajdowanieNajmniejszejLiczby/ZnajdowanieNajmniejszejLiczby.vcxproj.user
/Tablice/x64/Debug
/Tablice/OdwracanieCiaguZnakow/OdwracanieCiaguZnakow.vcxproj
/Tablice/OdwracanieCiaguZnakow/OdwracanieCiaguZnakow.vcxproj.filters
/Tablice/OdwracanieCiaguZnakow/OdwracanieCiaguZnakow.vcxproj.user
/Tablice/OdwracanieCiaguZnakow/x64/Debug
/Tablice/WczytywanieWyswietlanie/WczytywanieWyswietlanie.vcxproj
/Tablice/WczytywanieWyswietlanie/WczytywanieWyswietlanie.vcxproj.filters
/Tablice/WczytywanieWyswietlanie/WczytywanieWyswietlanie.vcxproj.user
/Tablice/WczytywanieWyswietlanie/x64/Debug
/Tablice/ZamianaZnakow/x64/Debug
/Tablice/ZamianaZnakow/ZamianaZnakow.vcxproj
/Tablice/ZamianaZnakow/ZamianaZnakow.vcxproj.filters
/Tablice/ZamianaZnakow/ZamianaZnakow.vcxproj.user
/Tablice/ZliczanieWystapienZnaku/x64/Debug
/Tablice/ZliczanieWystapienZnaku/ZliczanieWystapienZnaku.vcxproj
/Tablice/ZliczanieWystapienZnaku/ZliczanieWystapienZnaku.vcxproj.filters
/Tablice/ZliczanieWystapienZnaku/ZliczanieWystapienZnaku.vcxproj.user
