################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PodejmowanieDecyzji/.vs/PodejmowanieDecyzji
/PodejmowanieDecyzji/x64/Debug
/PodejmowanieDecyzji/StrukturaProgramu/x64/Debug
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj.filters
/PodejmowanieDecyzji/StrukturaProgramu/StrukturaProgramu.vcxproj.user
/PodejmowanieDecyzji/Zmienna/x64/Debug
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj.filters
/PodejmowanieDecyzji/Zmienna/Zmienna.vcxproj.user
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj.filters
/PodejmowanieDecyzji/TypyDanych/TypyDanych.vcxproj.user
/PodejmowanieDecyzji/TypyDanych/x64/Debug
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj.filters
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/StrumienieWejsciaIWyjscia.vcxproj.user
/PodejmowanieDecyzji/StrumienieWejsciaIWyjscia/x64/Debug
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj.filters
/PodejmowanieDecyzji/Operatory/Operatory.vcxproj.user
/PodejmowanieDecyzji/Operatory/x64/Debug
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj.filters
/PodejmowanieDecyzji/LaczenieZagadnien/LaczenieZagadnien.vcxproj.user
/PodejmowanieDecyzji/KalkulatorBMI/KalkulatorBMI.vcxproj
/PodejmowanieDecyzji/KalkulatorBMI/KalkulatorBMI.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorBMI/KalkulatorBMI.vcxproj.user
/PodejmowanieDecyzji/KalkulatorBMI/x64/Debug
/PodejmowanieDecyzji/KalkulatorOcen/KalkulatorOcen.vcxproj
/PodejmowanieDecyzji/KalkulatorOcen/KalkulatorOcen.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorOcen/KalkulatorOcen.vcxproj.user
/PodejmowanieDecyzji/KalkulatorOcen/x64/Debug
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/SprawdzanieParzystoscPodzielnosc3.vcxproj
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/SprawdzanieParzystoscPodzielnosc3.vcxproj.filters
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/SprawdzanieParzystoscPodzielnosc3.vcxproj.user
/PodejmowanieDecyzji/SprawdzanieParzystoscPodzielnosc3/x64/Debug
/PodejmowanieDecyzji/Kalkulator/Kalkulator.vcxproj
/PodejmowanieDecyzji/Kalkulator/Kalkulator.vcxproj.filters
/PodejmowanieDecyzji/Kalkulator/Kalkulator.vcxproj.user
/PodejmowanieDecyzji/Kalkulator/x64/Debug
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/KalkulatorOplatZaParkowanie.vcxproj
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/KalkulatorOplatZaParkowanie.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/KalkulatorOplatZaParkowanie.vcxproj.user
/PodejmowanieDecyzji/KalkulatorOplatZaParkowanie/x64/Debug
/PodejmowanieDecyzji/KalkulatorTemperatur/KalkulatorTemperatur.vcxproj
/PodejmowanieDecyzji/KalkulatorTemperatur/KalkulatorTemperatur.vcxproj.filters
/PodejmowanieDecyzji/KalkulatorTemperatur/KalkulatorTemperatur.vcxproj.user
/PodejmowanieDecyzji/KalkulatorTemperatur/x64/Debug
